.content{
    margin: 4rem 12rem;
    background-color: rgb(190, 235, 236);
    color: black;
    width:75%;
    height: 100%;
    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.content:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

h1{
    margin-top: 1rem;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

p{
    margin-left: 6rem;
    margin-right: 6rem;
    margin-bottom: 2rem;
    font-size: x-large;
}

#instruct{
    font-weight: 600;
    margin-bottom: 1rem;
}

#scheduleBtn{
    display:inline-block;
    padding:0.35em 1.2em;
    border:none;
    margin:1rem 0.3em;
    border-radius:0.3em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:bold;
    font-size: x-large;
    color:#FFFFFF;
    background-color: rgb(25, 25, 96);
    text-align:center;
    transition: all 0.2s;
    height: 3rem;
    width: 18rem;
    align-self: center;
}
#scheduleBtn:hover{
    color:rgb(25, 25, 96);
    background-color:#FFFFFF;
}

