.form-wrapper{
    margin: 4rem auto;
    padding: 1.5rem 2.5rem;
    background-color: rgb(190, 235, 236);
    color: black;
    height: 100%;
    max-width:45%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.form-wrapper:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#form-heading{
    text-align: center;
    margin-bottom: 1rem;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#form div{
    margin: 1rem;
}

button{
    margin: 1rem 0;
    width: 25%;
    align-self: center;
}

#reset{
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(143, 6, 6);
    width:70%
}

#position{
    text-align: center;
}

#date{
    width: 100%;
}

#toSend{
    margin: 0 0.5rem;
}

input,
textarea,
select{
  border: 2px solid #333;
  background-color: white;
  border-radius: 0.25rem;
}

input[type="text"],
input[type="email"],
textarea,
select{
  font: 1.25rem / 1.5 sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 0.75rem;
}

input[type="checkbox"] {
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
}

label{
    display: inline-block;
    font: bold 1.2rem sans-serif;
    margin-bottom: 0.5rem;
}

#submit{
    display:inline-block;
    padding:0.35em 1.2em;
    border:none;
    margin:1rem 0.3em;
    border-radius:0.3em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:bold;
    font-size: x-large;
    color:#FFFFFF;
    background-color: rgb(0, 105, 255);
    text-align:center;
    transition: all 0.2s;
    height: 3rem;
    width: 18rem;
    align-self: center;
}
#submit:hover{
    color:rgb(0, 105, 255);
    background-color:#FFFFFF;
}