.interview-list{
    margin: 2.5rem 2rem;
    padding: 1.5rem 2.5rem;
    background-color: rgb(190, 235, 236);
    color: black;
    height: 100%;
    max-width:100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.interview-list:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

th{
    font-size: x-large;
    margin-bottom: 4rem;
}

tr{
    margin-bottom: 2rem;
}

td{
    padding: 1rem;
    text-align: center;
    font-size: large;
    margin-bottom: 2rem;
}

#cancel{
    background-color: rgb(180, 68, 68);
}

.interview-list button{
    display:inline-block; 
    padding: 0.3em 0.3em;
    border:none;
    margin:0 2em 0.3em 0;
    width: 100%;
    border-radius:0.25em;
    box-sizing: border-box;
    text-decoration:none;
    font-size: 1rem;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color: rgb(0, 105, 255);
    text-align:center;
    transition: all 0.2s;
}
.interview-list button:hover{
    color:#000000;
    background-color:#FFFFFF;
    border-color:cadetblue;
}

.interview-list .search{
    background-color: white;
    width: 55%;
    align-self: center;
}

#outlined-basic{
    margin: 0.5rem;
}