.navbar{
    margin: 0 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4rem;
    background-color: #282c34;
}

.nav-btns{
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    max-width: 400px;
}

.header-btn{
    display:inline-block;
    padding:0.35em 1.2em;
    border:none;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color: #282c34;
    text-align:center;
    transition: all 0.2s;
}
.header-btn:hover{
    color:#000000;
    background-color:#FFFFFF;
}

#company-btn, #candidate-btn{
    display:inline-block; 
    padding: 0.3em 1.2em;
    border:none;
    margin:0 2em 0.3em 0;
    border-radius:0.25em;
    box-sizing: border-box;
    text-decoration:none;
    font-size: 1rem;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color: #4eb5f1;
    text-align:center;
    transition: all 0.2s;
}
#company-btn:hover, #candidate-btn:hover{
    color:#000000;
    background-color:#FFFFFF;
    border-color:cadetblue;
}

