.navbar{
    margin: 0;
    padding:0 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
    background-color: #282c34;
}

.nav-btns{
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    width:35%;
}

#headerBtn{
    display:inline-block;
    padding:0.35em 1.2em; 
    border:none;
    margin:0 0.3em 0.3em 0;
    width:20%;
    max-height: 5rem;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color: #282c34;
    text-align:center;
    transition: all 0.2s;
}
#headerBtn:hover{
    color:#000000;
    background-color:#FFFFFF;
}

#interviewBtn, #candidateBtn{
    display:inline-block; 
    padding: 0.3em 1.2em;
    border:none;
    margin:0 2em 0.3em 0;
    width: 30%;
    border-radius:0.25em;
    box-sizing: border-box;
    text-decoration:none;
    font-size: 1rem;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color: #4eb5f1;
    text-align:center;
    transition: all 0.2s;
}
#interviewBtn:hover, #candidateBtn:hover{
    color:#000000;
    background-color:#FFFFFF;
    border-color:cadetblue;
}

